.change-password
  .row.change-password.title
    .h1 CHANGE PASSWORD
  .wrapper.change-password
    .row.change-password.data
      .col-md-4.change-password
        = form_tag change_password_path, :method => :post do
          .ul.change-password
            .li.change-password
              Old Password:
              = password_field_tag 'current_password'
            .li.change-password
              New Password:
              = password_field_tag 'new_password'
            .li.change-password
              Again new password:
              = password_field_tag 'password_confirmation'
            .li.change-password
              = submit_tag("Save")
