.feed
  .row.hike-box
    - @hikes.each do |h|
      .col-md-3.hike-title
        #{h.name}

      .col-md-3.hike-content
        .col-md-5.hike-photo
          Hike Photo
        .col-md-3.home.hike-description
          #{h.description}
        .col-md-3.home.hike-info
          .row.hike-info-brief
            .ul
              .li Type: #{h.tipo}
              .li Rating: #{h.rating}
              .li Distance: #{h.distance}
          .row.hike-info
            = link_to 'More info', hike_path(h)


    = will_paginate @hikes
