.search
  .col-md-3.search-filters
    .row.search-filters.title
      .h2 Filters
    = form_tag search_path, :method => :get do
      .row.search-filters.search-bar
        #{text_field_tag :args, params[:args]}#{submit_tag 'Search', name: nil}
      .row.search-filters.filters
        .ul.search-filters
          .li.search-filters
            UTENTE
            = check_box_tag 'filters[]', 'U', false
            .ul.search-filters.sub-filters
              .li.search-filters
              CITTA
              = text_field_tag :city, params[:city]
              = check_box_tag 'filters[]', 'C', false
          .li.search-filters
            HIKE
            = check_box_tag 'filters[]', 'H', false

  .col-md-3.search-results
    -if @hikes != nil
      - @hikes.each do |h|
        - author = User.find(h.user_id)
        %header.hike-title #{h.name}
        .row.content
          .columns
            %hike-photo-col
              = image_tag h.hike_image.url,:class=> "hike-photo" if h.hike_image?
            %aside.hike-description #{h.description}
            %aside.hike-info-box
              .row.hike-info-brief
                .ul
                  .li.hike Type: #{h.tipo}
                  .li.hike Rating: #{h.rating}
                  .li.hike Distance: #{h.distance}
                  .li.hike= link_to "#{author.nickname}", user_path(author)
              .row.hike-info
                = link_to 'More info', hike_path(h)
              .row.hike-info
                -if @user.favorites.nil? || @user.favorites.where(user_id: @user.id, favoritable_id: h.id).empty?
                  = link_to 'Aggiungi ai preferiti', add_hike_to_favorites_path(h), method: :post
                -else
                  = link_to 'Rimuovi dai preferiti', remove_hike_from_favorites_path(h), method: :post
      = will_paginate @hikes


    .row.user-resutls
      -if @users != nil
        - @users.each do |u|
          %header.user-title
            =link_to "#{u.nickname}", user_path(u)
          .row.content
            .columns
              %user-photo-col
                = image_tag u.image.url,:class=> "user-photo-index" if u.image?
              %aside.user-info-box
                .row.user-info-brief
                  .ul
                    .li.user Name: #{u.name}
                    .li.user Surname: #{u.surname}
                    .li.user City: #{u.city}

        = will_paginate @users
