.search
  .col-md-3.search-filters
    .row.search-filters.title
      .h2 Filters
    = form_tag search_path, :method => :get do
      .row.search-filters.search-bar
        #{text_field_tag :args, params[:args]}#{submit_tag 'Search', name: nil}
      .row.search-filters.filters
        .ul.search-filters
          .li.search-filters
            UTENTE
            = check_box_tag 'filters[]', 'U', false
            .ul.search-filters.sub-filters
              .li.search-filters
              CITTA
              = text_field_tag :city, params[:city]
              = check_box_tag 'filters[]', 'C', false
          .li.search-filters
            HIKE
            = check_box_tag 'filters[]', 'H', false

  .col-md-3.search-results
    -if @hikes != nil
      - @hikes.each do |h|
        %header.hike-title #{h.name}
        .row.content
          .columns
            %hike-photo-col
              = image_tag h.hike_image.url,:class=> "hike-photo" if h.hike_image?
            %aside.hike-description #{h.description}
            %aside.hike-info-box
              .row.hike-info-brief
                .ul
                  .li.hike Type: #{h.tipo}
                  .li.hike Rating: #{h.rating}
                  .li.hike Distance: #{h.distance}
              .row.hike-info
                = link_to 'More info', hike_path(h)
    = will_paginate @hikes


    %h4 Users table
    %table#users
      %thead
        %tr
          %th

      %tbody
        -if @users != nil
          - @users.each do |u|
            %tr
              %td= link_to "#{u.nickname}", user_path(u)

    = will_paginate @users
