.login
  .row.login.title
    .h1 LOGIN HIKER
  .wrapper.login.login-data
    .row.login.login-data
      .col-md-4.login.login-data
        = form_tag(:action => 'login_attempt') do
          .ul.login.login-data
            .li.login.login-data
              Username or Email
              #{text_field_tag(:username_or_email)}
            .li.login.login-data
              Password
              #{password_field_tag (:login_password)}
            .li.login.login-data
              = submit_tag("Log In")
            .li.login.login-data
              = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path
