- @page_title = "UserAuth | Login"
.Sign_Form
  %h1 Log in
  = form_tag(:action => 'login_attempt') do
    %p
      Username or Email: #{text_field_tag(:username_or_email)}
    %p
      Password: #{password_field_tag :login_password}
    = submit_tag("Log In")

  = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path
