.profile
  .row.profile.user-content
    .col-md-3.profile.left-buttons
      .row.profile.link
        = link_to "Followers List", followers_user_path(@user.id)
      .row.profile.link
        = link_to "Following List", following_user_path(@user.id)
    .col-md-3.profile.info
      .row.profile.user-photo
        = image_tag @user.image.url,:class=> "user-photo" if @user.image?
      .row.profile.user-name-surname
        %h1 #{@user.name} #{@user.surname}
      .row.profile.user-nickname
        %h2 #{@user.nickname}
      .row.profile.user-personal-info
        .ul
          .li Sex: #{@user.gender}
          .l Birth Date: #{@user.birthdate}
          .li Email: #{@user.email}
          .li City: #{@user.city}
          .li= link_to "Change Your Personal Informations", edit_user_path(@user)
          .li=link_to "Change Your Hike Preferencies", hike_preferencies_setup_path
    .col-md-3.profile.favorites
      .row.change-user-picture
        = form_tag upload_user_picture_path, :multipart => true, :method => :post do
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Change profile picture
          = file_field :user, :image, accept: 'image/jpeg,image/gif,image/png,image/jpg'
          = submit_tag 'Upload profile picture'
      .row.profile.link
        =link_to 'Favorite Hikes', show_favorites_path



.completed-hikes
  - @user_hikes.each do |h|
    %header.hike-title #{h.name}
    .row.content
      .columns
        %hike-photo-col
          = image_tag h.hike_image.url,:class=> "hike-photo" if h.hike_image?
        %aside.hike-description #{h.description}
        %aside.hike-info-box
          .row.hike-info-brief
            .ul
              .li.hike Type: #{h.tipo}
              .li.hike Rating: #{h.rating}
              .li.hike Distance: #{h.distance}
          .row.hike-info
            = link_to 'More info', hike_path(h)
          .row.hike-info
            -if @user.favorites.nil? || @user.favorites.where(user_id: @user.id, favoritable_id: h.id).empty?
              = link_to 'Aggiungi ai preferiti', add_hike_to_favorites_path(h), method: :post
            -else
              = link_to 'Rimuovi dai preferiti', remove_hike_from_favorites_path(h), method: :post
= will_paginate @user_hikes
