.container-fluid.profile-top
  Profile Photo

.container-fluid.profile-nickname
  %h1 #{@user.nickname}'s Profile

.container-fluid.profile-personal-info
  .ul.personal-info
    .li
      Name: #{@user.name}
    .li
      Surname: #{@user.surname}
    .li
      Sex: #{@user.gender}
    .li
      Birth Date: #{@user.birthdate}
    .li
      Email: #{@user.email}
    .li
      City: #{@user.city}
    .li
      = link_to "Change Your Personal Informations", edit_user_path(@user)



.container-fluid.profile-bottom
  .row.new-hike-link
    =link_to "Add new hike", new_hike_path
    ,
    =link_to "Change Your Hike Preferencies", hike_preferencies_setup_path
    ,
    = link_to "Followers List", followers_user_path(@user.id)
    ,
    = link_to "Following List", following_user_path(@user.id)
