%h1 All Hikes

%table#hikes
  %thead
    %tr
      %th
      %th Title
      %th Difficulty
      %th Distance
      %th Time
      %th Max height
      %th Min height
      %th Level difference
      %th Rating
      %th Type
      %th Nature
      %th Equipment
      %th

  %tbody
    - @hikes.each_with_index do |h, idx|
      %tr
        %td #{idx + 1}
        %td= link_to "#{h.name}", hike_path(h)
        %td= h.difficulty
        %td= h.distance
        %td= h.avg_time
        %td= h.max_height
        %td= h.min_height
        %td= h.level_difference
        %td= h.rating
        %td= h.tipo
        %td= h.nature
        %td= h.equipment
        %td.image-wrapper= image_tag h.hike_image.url,:class=> "img-circular" if h.hike_image?
  :css
    .img-circular{
      width: 150px;s
      height: 150px;
      background-size: cover;
      display: block;
      border-radius: 75px;
      -webkit-border-radius: 750px;
      -moz-border-radius: 75px;
    }


  = link_to 'add_hike', new_hike_path
  %br
  = link_to 'users', users_path
