
%div.Hike_form
  %h1 Hike form
  = form_tag hikes_path, :method => :post do
    %p Name:
    = text_field :hike, :name

    %p  Difficulty:
    = select :hike, :difficulty, %w( P I E )

    %p Nature:
    = text_area :hike, :nature

    %p Equipment:
    = text_area :hike, :equipment

    %p Description
    = text_area :hike, :description

    %p Rating:
    = select :hike, :rating, %w( 0 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 )

    %p Type:
    = select :hike, :tipo, [ 'T', 'E', 'EE', 'EEA', 'EAI' ]

    %p File GPX
    = file_field :hike, :filename

    = debug(@hike)
    = submit_tag 'Create hike'
