%h2 #{@hike.name}

%ul#details

  %li
    Rating:
    = @hike.rating

  %li
    Difficulty:
    = @hike.difficulty

  %li
    Distance:
    = @hike.distance.to_s+" km"

  %li
    Level difference
    = @hike.level_difference.to_s+" meters"

  %li
    Type
    = @hike.tipo

  %li
    User_id
    -if User.find(@hike.user_id).id == session[:user_id]
      = link_to "#{User.find(@hike.user_id).nickname}", profile_path
    -else
      = link_to "#{User.find(@hike.user_id).nickname}", user_path(User.find(@hike.user_id).id)
  %li
    Map
    = image_tag @hike.map_image,:class=> "img-circular" if @hike.map_image?

  :css
    .img-circular{
      width: 400px;
      height: 400px;
      background-size: cover;
      display: block;
      border-radius: 300px;
      -webkit-border-radius: 300px;
      -moz-border-radius: 300px;
    }

%h3 Description
= @hike.description

%h3 Nature
= @hike.nature

%h3 Equipment
= @hike.equipment

%table#comments
  %thead
    %tr
      %th Comment
      %th User
      %th

  %tbody
    - Comment.where(hike_id: @hike.id).each do |c|
      %tr
        %td= c.comment
        %td= link_to "#{User.find(c.user_id).nickname}", user_path(c.user_id)
        %td= link_to "delete comment", hike_comment_path(hike_id: @hike.id, id: c.id), :method => :delete, data: { confirm: "Are you sure?" }

//= render "/comments/new", :hike_id => @hike
= link_to 'create comment', new_hike_comment_path(@hike)

%br
= link_to 'users', users_path
