!!! 5
%html
  %head
    %title Hiker
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

%body
  - if flash[:notice]
    #notice.message= flash[:notice]
  - elsif flash[:warning]
    #warning.message= flash[:warning]
  #main
    -if session[:user_id].nil?
      =link_to 'user', login_path
    -else
      =link_to 'user', user_path(User.find(session[:user_id]).id)
    = link_to 'hikes', hikes_path
    = link_to 'logout', logout_path

    = yield
